# Porta em que a API será iniciada
PORT=3000

# Dados do projeto Supabase
SUPABASE_URL=https://wvsfeqcyatoeodyqewah.supabase.co

# Use a chave secret somente no backend. Nunca a exponha no frontend.
SUPABASE_SECRET_KEY=Flayonlindo
